<%- include("includes/header"); %>

<div class="container">

    <h3>Adicionar Contato</h3>
    <hr>

    <form method="POST" action="/agendas/save">
        <div class="mb-3">
          <label for="titulo" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Celular</label>
          <input type="text" class="form-control" id="celular" name="celular" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Rua</label>
          <input type="text" class="form-control" id="rua" name="rua" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Número</label>
          <input type="text" class="form-control" id="numero" name="numero" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Bairro</label>
          <input type="text" class="form-control" id="bairro" name="bairro" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Cidade</label>
          <input type="text" class="form-control" id="cidade" name="cidade" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Estado</label>
          <input type="text" class="form-control" id="estado" name="estado" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">CEP</label>
          <input type="text" class="form-control" id="cep" name="cep" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="titulo" class="form-label">Complemento</label>
          <input type="text" class="form-control" id="complemento" name="complemento" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/agendas" class="btn btn-secondary">Cancelar</a>
    </form>
    
</div>

<%- include("includes/footer"); %>